<div class="card" style="margin: 0 auto; width: 40%; margin-top: 20px">
    <div class="card-body">
        <h3 class="card-title"> Edit Note "<%= @note.title%>" </h2>
        <%= form_for @current_note do |f| %>
            <% if @current_note.errors.any? %>
                <% @current_note.errors.full_messages.each do |message| %>
                    <div class="alert alert-danger" role="alert">
                        <%= message %>
                    </div>
                <% end %>
            <% end %>
            <p>
                <%= f.label :title, 'Title' %>
                <%= f.text_field :title, class: "form-control" %>
            </p>
            <p>
                <%= f.label :content, 'Content' %>
                <%= f.text_area :content, class: "form-control" %>
            </p>
            <p>
                <input type="submit" value="Send" class="btn btn-success" onclick="return confirm('Esta seguro que desea guardar los nuevos cambios?')">
                <%= link_to 'Volver', notes_path(:id_book => @note.book_id), class: "btn btn-danger" %>
            </p>
        <% end %>
    </div>
</div>
