<% if @notes.empty? %>
    <div class="alert alert-warning">
        <h1> Aun no hay notas para el cuaderno  <%= if @book.nil? then 'Cajon Global' else @book.title end %>  </h1>
    </div>
<% else %>
    <div class="alert alert-info">
        <h2> Notes book <%= if @book.nil? then 'Cajon Global' else @book.title end%> </h2>
    </div>
<% end %>
<%= link_to "New Note",new_note_path(:id_book => @id_book), class: "btn btn-success" %>
<ul>
    <% @notes.each do |note| %>
        <li> 
            <strong>Title:</strong> <%= note.title %>
            <p>
                <strong>Content:</strong> <%= note.content %>
            </p>
            <%= button_to 'Export',export_note_path(note.id), method: :put %>
            <%= link_to "Edit", edit_note_path(note.id)%>
            <%= button_to 'Delete', note, method: :delete, data: { confirm: 'Seguro que desea eliminar la nota?' } %>
        </li>
    <% end %>
</ul>
